<div class="col-2 left-panel_container full-height"> <!-- LEFT PANEL -->
    <div class="left_links_container">
        <div class="left-link-item-container">
            <a class="left-link-item" id="home_link">Home</a>
        </div>
        <br>
        <div class="left-link-item-container">
            <a class="left-link-item" id="temp_link">Name (TEMP)</a>
        </div>
        <div class="left-link-item-container">
            <a class="left-link-item" id="add_activity_link">Add Activity</a>
        </div>
        <div class="left-link-item-container">
            <a class="left-link-item" id="add_meal_link">Add Meal</a>
        </div>
        <div class="left-link-item-container">
            <a class="left-link-item" id="check_in_link">Check in</a>
        </div>
        <br>
        <div class="left-link-item-container">
            <a class="left-link-item" id="restaurants_link">Restaurant Recommendations</a>
        </div>
        <div class="left-link-item-container">
            <a class="left-link-item" id="mcgill_resources_link">McGill Resources</a>
        </div>
        <div class="left-link-item-container">
            <a class="left-link-item" id="health_canada_link">Health Canada</a>
        </div>
    </div>
  </div>