<div class="col-2 left-panel_container full-height"> <!-- LEFT PANEL -->
    <div class="left_links_container">
        <br>
        <div id="home_link_container" class="left-link-item-container active-left-link">
            <li class="left-link-item" id="home_link">Home</li>
        </div>
        <div id="friend_link_container" class="left-link-item-container">
            <li class="left-link-item" id="friend_link">Add Friend</li>
        </div>
        <div id="activity_link_container" class="left-link-item-container">
            <li class="left-link-item" id="add_activity_link">Add Activity</li>
        </div>
        <div id="meal_link_container" class="left-link-item-container">
            <li class="left-link-item" id="add_meal_link">Add Meal</li>
        </div>
        <div id="checkin_link_container" class="left-link-item-container">
            <li class="left-link-item" id="check_in_link">Check in</li>
        </div>
        <br>
        <br>
        <br>
        <div id="restaurants_link_container" class="left-link-item-container">
            <li class="left-link-item" id="restaurants_link">Restaurant Recommendations</li>
        </div>
        <div id="mcgill_link_container" class="left-link-item-container">
            <li class="left-link-item" id="mcgill_resources_link">McGill Resources</li>
        </div>
        <div id="health_link_container" class="left-link-item-container">
            <li class="left-link-item" id="health_canada_link">Health Canada</li>
        </div>
    </div>
  </div>