<div class="col-2 left-panel_container full-height"> <!-- LEFT PANEL -->
    <div class="left_links_container">
        <br>
        <div class="left-link-item-container active-left-link">
            <li class="left-link-item" id="home_link">Home</li>
        </div>
        <div id="temp_link_container" class="left-link-item-container">
            <li class="left-link-item" id="temp_link">Name (TEMP)</li>
        </div>
        <div class="left-link-item-container">
            <li class="left-link-item" id="add_activity_link">Add Activity</li>
        </div>
        <div class="left-link-item-container">
            <li class="left-link-item" id="add_meal_link">Add Meal</li>
        </div>
        <div class="left-link-item-container">
            <li class="left-link-item" id="check_in_link">Check in</li>
        </div>
        <br>
        <br>
        <br>
        <div class="left-link-item-container">
            <li class="left-link-item" id="restaurants_link">Restaurant Recommendations</li>
        </div>
        <div class="left-link-item-container">
            <li class="left-link-item" id="mcgill_resources_link">McGill Resources</li>
        </div>
        <div class="left-link-item-container">
            <li class="left-link-item" id="health_canada_link">Health Canada</li>
        </div>
    </div>
  </div>