<div class="col-3 right-panel_container"> <!-- LEFT PANEL -->


    <!-- <div class="card friend_card">
        <div class="card-body">
          <div class="row row_username-pic">
            <img class="user_profile-pic"src="https://gravatar.com/avatar/bb4f03f9a1ec8b1ebcdacb6defe1417d?s=400&d=robohash&r=x" alt="Avatar">
            <h5 class="user_profile-name">Matthew Goodman</h5>
          </div>         
          <p class="user_profile-latest">went for a jog</p>
        </div>
    </div> -->

    <% if (users.length > 0) { %>
      <!-- <h1><%= users %></h1> -->
      <% for (let user of users) { %>
        <div class="card friend_card">
          <div class="card-body">
            <div class="row row_username-pic">
              <img class="user_profile-pic"src="<%= user.url %>">
              <h5 class="user_profile-name"><%= user.name %></h5>
            </div>         
            <p class="user_profile-latest"><%= user.lastActivity %></p>
          </div>
      </div>
      <% } %>
    <% } else { %>
      <p>No Users Activity</p>
    <% } %>
    

</div>