<form action="/home" method="POST">
    <div class="form-group">
      <label for="name">Please Enter Your Meal:</label>
      <div class="input-group">
        <input type="text" class="form-control" name="meal" id="meal" placeholder="Enter name">
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="submit">Submit</button>
        </div>
      </div>
      
    </div>
  </form>