<form action="/home" method="POST">
    <div class="form-group">
      <label for="name">Where did you exercise?</label>
      <div class="input-group">
        <input type="text" class="form-control" name="checkIn" id="checkIn" placeholder="Enter place">
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="submit">Submit</button>
        </div>
      </div>
      
    </div>
  </form>

  
