<h1>Health Canada</h1>
<h3>Be mindful of your eating habits</h3>
<h>Healthy eating is about more than just the foods you eat. It is being mindful of your eating habits, taking time to eat and noticing when you are hungry and when you are full.</h><br>
<a  target="_blank" href="https://food-guide.canada.ca/en/healthy-eating-recommendations/be-mindful-of-your-eating-habits/">More Info</a>
<br>


<h3>Cook more often</h3>
<h>Cooking more often can help you develop healthy eating habits. You can cook more often by planning what you eat and involving others in planning and preparing meals.</h><br>
<a  target="_blank" href="https://food-guide.canada.ca/en/healthy-eating-recommendations/cook-more-often/">More Info</a>

<br>

<h3>Limit highly processed foods</h3>
<h>Preparing foods with healthy ingredients and choosing healthier menu options are ways to limit highly processed foods.</h><br>
<a  target="_blank" href="https://food-guide.canada.ca/en/healthy-eating-recommendations/limit-highly-processed-foods/">More Info</a>

<br>

<h3>Use food labels</h3>
<h>Using food labels can help you compare and choose products so you can make an informed choice.Food labels provide information you can use to make informed choices about foods and drinks at the grocery store and at home.</h><br>
<a  target="_blank" href="https://food-guide.canada.ca/en/healthy-eating-recommendations/using-food-labels/">More Info</a>

<br>

<h3>Enjoy your food</h3>
<h>Enjoying your food is part of healthy eating. Enjoy the taste of your food and the many food-related activities that go along with eating.</h><br>
<a  target="_blank" href="https://food-guide.canada.ca/en/healthy-eating-recommendations/enjoy-your-food/">More Info</a>

