
<h1>Your life</h1>
<table class="table table-borderless" id="homeTable" >
    <thead>
      <tr class="table-info">
        <th scope="col">Name</th>
        <th scope="col">Intake</th>
        <th scope="col">recommand</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-danger">
        <th scope="row">Fat(g)</th>
        <td>15.9</td>
        <td>21.4</td>
      </tr>
      <tr class="table-success">
        <th scope="row">Protein(g)</th>
        <td>69.4</td>
        <td>71.3</td>
        
      </tr>
      <tr class="table-warning">
        <th scope="row">Carbohydrate(g)</th>
        <td>21</td>
        <td>82</td>
        
      </tr>
      
    </tbody>
  </table>