<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- CSS STYLESHEETS -->
    <link rel="stylesheet" href="/css/main.css">


    <title>Home</title>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item active">
              <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="#">Hi, NAME!</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container">
        <div class="row">

          <div class="col-2 left-panel_container full-height"> <!-- LEFT PANEL -->
            <div class="left_links_container">
                <ul class="links">
                    <li class="left_link-item" id="home_link">Home</li>
                    <li class="left_link-item" id="add_activity_link">Add Activity</li>
                    <li class="left_link-item" id="add_meal_link">Add Meal</li>
                </ul>
            </div>
          </div>

          <div class="col-8 main_container"> <!-- MAIN -->
            
            <div class="main-content">





                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                <script>
                    $(document).ready( () => {
                        console.log("TEST")
                    // $('#main__link').click( () => {
                    //     // console.log("TEST!")
                    //     $.ajax({
                    //     url: 'users',
                    //     type: 'GET',
                    //     dataType: 'html',
                    //     success: (data) => {
                    //         // console.log('Data Received', data);
                    //         $('#HTMLHERE').html(data)
                    //     }

                    //     });
                    // });
                    });
                </script>
            </div>

            <form action="/home" method="POST">
                <div class="form-group">
                  <label for="name">Please Enter Your Name:</label>
                  <div class="input-group">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Enter name">
                    <div class="input-group-append">
                      <button class="btn btn-outline-primary" type="submit">Submit</button>
                    </div>
                  </div>
                  
                </div>
              </form>
              <form action="/home" method="POST">
                <div class="form-group">
                  <label for="name">Please Enter Your Activity:</label>
                  <div class="input-group">
                    <input type="text" class="form-control" name="activity" id="activity" placeholder="Enter activity">
                    <div class="input-group-append">
                      <button class="btn btn-outline-primary" type="submit">Submit</button>
                    </div>
                  </div>
                  
                </div>
              </form>
              <form action="/home" method="POST">
                <div class="form-group">
                  <label for="name">Please Enter Your Meal:</label>
                  <div class="input-group">
                    <input type="text" class="form-control" name="meal" id="meal" placeholder="Enter name">
                    <div class="input-group-append">
                      <button class="btn btn-outline-primary" type="submit">Submit</button>
                    </div>
                  </div>
                  
                </div>
              </form>
              
          </div>


          <div class="col-2 right-panel_container"> <!-- LEFT PANEL -->
            Three of three columns
          </div>

        </div>
      </div>
      


    



    <!-- JQUERY AND BOOTSTRAP -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>