<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- CSS STYLESHEETS -->
    <link rel="stylesheet" href="/css/main.css">


    <title>Home</title>
</head>
<body>
    
    <!-- NAVBAR -->
    <!-- <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="#">App Name / Logo</a>

        <ul class="nav">
                <a class="nav-link nav-item active" href="#">Home</a>
                <a class="nav-link nav-item active" href="#">Login</a>
                <a class="nav-link nav-item active" href="#">Sign up</a>

        </ul>

    </nav> -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav float-md-right">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container">
        <div class="row">
          <div class="col-2">
            One of three columns
          </div>
          <div class="col-8">
            <form action="/home" method="POST">
                <div class="form-group">
                  <label for="name">Please Enter Your Name:</label>
                  <div class="input-group">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Enter name">
                    <div class="input-group-append">
                      <button class="btn btn-outline-primary" type="submit">Submit</button>
                    </div>
                  </div>
                  
                </div>
              </form>
          </div>
          <div class="col-2">
            One of three columns
          </div>
        </div>
      </div>
      


    



    <!-- JQUERY AND BOOTSTRAP -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>