<h1>McGill Resources</h1>
<br>
<h3>McGill Fitness and Recreation</h3>
<h5><b>Hours of Operation:</b> 6:15am - 11:00pm (Weekdays), 8:45am - 9:00pm (Sat, Sun)</h5>
<a  target="_blank" href="https://mcgillathletics.ca/sports/2018/6/12/fitness-and-recreation-home.aspx?id=407">More Info</a>
<br>
<br>
<h3>McGill Wellness Hub</h3>
<h5><b>Hours of Operation:</b> 8:00am - 4:00pm (Weekdays)</h5>
<a  target="_blank" href="https://www.mcgill.ca/wellness-hub/">More Info</a>
