<h1>My Profile</h1>
<br>

<form action="/home" method="POST">
    <div class="form-group">
      <label for="name">Please Enter Information About Your Profile:</label>
      <div class="input-group">
        <input type="number" class="form-control" name="weight" id="weight" placeholder="Enter weight (kg)">
        <input type="number" class="form-control" name="height" id="height" placeholder="Enter height (m)">
        <input type="number" class="form-control" name="age" id="age" placeholder="Enter age">
        <input type="number" class="form-control" name="age" id="age" placeholder="Enter PA">
        <div class="input-group-append">
          <button id="add_meal_button" class="btn btn-outline-primary" type="submit">Submit</button>
        </div>
        
      </div>
      <br>
      <br>
      <center>
        <img src="paTable.png" height=400px alt="">
      </center>
      
    </div>
</form>