<h1>Freshii</h1>
<h><b>Open hours:</b> 7:30am - 10:00pm(week days)</h><br>
<a  target="_blank" href="https://www.freshii.com/ca/en-ca/home">More Info</a>
<br>
<br>

<h1>Alto</h1>
<h><b>Open hours:</b> 5:00am - 11:00pm(week days)</h><br>
<a  target="_blank" href="https://altorestaurant.ca/">More Info</a>
<br>
<br>

<h1>Zhonghua Noodles</h1>
<h><b>Open hours:</b> 11:00am - 8:00pm(week days)</h><br>
<a  target="_blank" href="https://nouilles-zhonghua-chinese-noodles.business.site/?utm_source=gmb&utm_medium=referral">More Info</a>
<br>
<br>

<h1>Poké Star</h1>
<h><b>Open hours:</b> 11:00am - 8:00pm(week days)</h><br>
<a  target="_blank" href="https://www.pokestar.ca/?l=en-US">More Info</a>
<br>
<br>

<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDl92xGxqXJMYcl-yp5zHlK0uhOnLUfDqo&callback=initMap"
type="text/javascript"></script> -->