body {
    padding: 0;
    margin: 0;
}

.nav-item {
    align-self: right;
    float: right;
}

.left-panel_container {
    background-color: lightblue;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    margin: auto;
    padding: auto;
}

.right-panel_container {
    background-color: lightblue;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    margin: auto;
    padding: auto;
}

.main_container {
    width: 100%;
    position: 30%;
    margin: auto;
    padding: auto;
    align-items: center;
    
}

.full_height {
    height: 100%;
}