body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.rowHeight {
    height: 100%;
}

.nav-item {
    align-self: right;
    float: right;
}

.left-panel_container {
    background-color: lightblue;
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
    padding: auto;
}

.right-panel_container {
    background-color: lightblue;
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
    padding: auto;
    overflow-y: scroll;
}
/* ::-webkit-scrollbar {
    width: 50px;
    background-color: yellow;
  } */

.main_container {
    width: 100%;
    position: relative;
    margin: auto;
    margin-top: 30px;
    padding: auto;
    
}

.left-link-item-container {
    padding: 3px;
    margin: 3px;
}

.left-link-item {
    font-size: larger;
}

