body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.rowHeight {
    height: 100%;
}

.nav-item {
    align-self: right;
    float: right;
}

.left-panel_container {
    background-color: white;
    border-right: 1px solid lightgray;
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
    padding: auto;
}

.right-panel_container {
    background-color: white;
    border-left: 1px solid lightgray;
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
    padding: auto;
    overflow-y: scroll;
}
/* ::-webkit-scrollbar {
    width: 50px;
    background-color: yellow;
  } */

.main_container {
    width: 100%;
    position: relative;
    margin: auto;
    margin-top: 30px;
    padding: auto;
    
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  #nav-logo {
    height: 44px;
  }

.chartRow {

}